In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
os.getcwd()

print(pd.__version__)

1.4.1

내가 원하는 자료를 찾기도 어렵구나..

나중에 분석연습을 할때는 계획 후 행동하는 연습도 같이해보자.

데이터 전처리를 할 땐 우리가 어떤 목표로 이런 작업을 하는지 이해해야합니다. 특히 우리가 지금 데이터로 무엇을 구현하고자 하는지가 중요합니다. 

분석 방법에 따라 필요한 데이터 형태가 다르기 때문이에요. 그래서 어떤 분석도구를 사용하느냐에 따라서 데이터 전처리 방식도 달라집니다.

In [19]:
filename = os.listdir("./data/ch9/speeches")
print(filename)

['BattleCreekDec19_2019.txt', 'BemidjiSep18_2020.txt', 'CharlestonFeb28_2020.txt', 'CharlotteMar2_2020.txt', 'CincinnatiAug1_2019.txt', 'ColoradorSpringsFeb20_2020.txt', 'DallasOct17_2019.txt', 'DesMoinesJan30_2020.txt', 'FayettevilleSep19_2020.txt', 'FayettevilleSep9_2019.txt', 'FreelandSep10_2020.txt', 'GreenvilleJul17_2019.txt', 'HendersonSep13_2020.txt', 'HersheyDec10_2019.txt', 'LasVegasFeb21_2020.txt', 'LatrobeSep3_2020.txt', 'LexingtonNov4_2019.txt', 'MilwaukeeJan14_2020.txt', 'MindenSep12_2020.txt', 'MinneapolisOct10_2019.txt', 'MosineeSep17_2020.txt', 'NewHampshireAug15_2019.txt', 'NewHampshireAug28_2020.txt', 'NewHampshireFeb10_2020.txt', 'NewMexicoSep16_2019.txt', 'OhioSep21_2020.txt', 'PhoenixFeb19_2020.txt', 'PittsburghSep22_2020.txt', 'TexasSep23_2019.txt', 'ToledoJan9_2020.txt', 'TulsaJun20_2020.txt', 'TupeloNov1_2019.txt', 'WildwoodJan28_2020.txt', 'Winston-SalemSep8_2020.txt', 'YumaAug18_2020.txt']

In [20]:
speech_df = pd.DataFrame(index=range(len(filename)), columns=['file name', 'the content'])

* 파일 불러오기 : open(경로)
* 텍스트(Text) 읽기 : read(), readline(), readlines()
* 폴더 내 파일 목록 불러오기 : os.listdir()

In [21]:
for i, f_name in enumerate(filename) :
    f = open('data/ch9/speeches/' + f_name, "r", encoding='utf-8')
    f_content = f.readlines()
    f.close()
    speech_df.at[i,'file name'] = f_name
    speech_df.at[i, 'the content'] = f_content[0]

speech_df.columns = ['names', 'contents']

speech_df.head(1)

,names,contents
0,BattleCreekDec19_2019.txt,Thank you. Thank you. Thank you to Vice Presid...

In [22]:
air_df = pd.read_csv('./data/ch9/TempData.csv')
air_df

       Temp  Year  Month  Day      Time
0      79.0  2016      1    1  00:00:00
1      79.0  2016      1    1  00:30:00
2      79.0  2016      1    1  01:00:00
3      77.0  2016      1    1  01:30:00
4      78.0  2016      1    1  02:00:00
...     ...   ...    ...  ...       ...
20448  77.0  2016     12   31  22:00:00
20449  77.0  2016     12   31  22:30:00
20450  77.0  2016     12   31  23:00:00
20451  77.0  2016     12   31  23:00:00
20452  77.0  2016     12   31  23:30:00

[20453 rows x 5 columns]

멀티 인덱스 설정하는 방법

In [23]:
air_df.drop(columns =['Year'], inplace=True)
air_df.set_index(['Month', 'Day', 'Time'], inplace=True)

In [24]:
air_df

                    Temp
Month Day Time
1     1   00:00:00  79.0
          00:30:00  79.0
          01:00:00  79.0
          01:30:00  77.0
          02:00:00  78.0
...                  ...
12    31  22:00:00  77.0
          22:30:00  77.0
          23:00:00  77.0
          23:00:00  77.0
          23:30:00  77.0

[20453 rows x 1 columns]

In [25]:
response_df = pd.read_csv('./data/ch9/OSMI Mental Health in Tech Survey 2019.csv')
response_df

,*Are you self-employed?*,How many employees does your company or organization have?,Is your employer primarily a tech company/organization?,Is your primary role within your company related to tech/IT?,Does your employer provide mental health benefits as part of healthcare coverage?,Do you know the options for mental health care available under your employer-provided health coverage?,"Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?",Does your employer offer resources to learn more about mental health disorders and options for seeking help?,Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?,"If a mental health issue prompted you to request a medical leave from work, how easy or difficult would it be to ask for that leave?",...,Briefly describe what you think the industry as a whole and/or employers could do to improve mental health support for employees.,"If there is anything else you would like to tell us that has not been covered by the survey questions, please use this space to do so.",Would you be willing to talk to one of us more extensively about your experiences with mental health issues in the tech industry? (Note that all interview responses would be used _anonymously_ and only with your permission.),What is your age?,What is your gender?,What country do you *live* in?,What US state or territory do you *live* in?,What is your race?,What country do you *work* in?,What US state or territory do you *work* in?
0,False,26-100,True,True,I don't know,No,Yes,Yes,I don't know,Very easy,...,NaN,NaN,False,25,Male,United States of America,Nebraska,White,United States of America,Nebraska
1,False,26-100,True,True,Yes,No,No,Yes,Yes,I don't know,...,NaN,NaN,False,51,male,United States of America,Nebraska,White,United States of America,Nebraska
2,False,26-100,True,True,I don't know,No,No,I don't know,I don't know,Somewhat difficult,...,I think opening up more conversation around th...,Thank you,True,27,Male,United States of America,Illinois,White,United States of America,Illinois
3,False,100-500,True,True,I don't know,No,Yes,Yes,Yes,Very easy,...,NaN,NaN,False,37,male,United States of America,Nebraska,White,United States of America,Nebraska
4,False,26-100,True,True,I don't know,No,I don't know,I don't know,I don't know,I don't know,...,NaN,NaN,False,46,m,United States of America,Nebraska,White,United States of America,Nebraska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,False,More than 1000,False,True,I don't know,No,No,I don't know,I don't know,Somewhat difficult,...,NaN,NaN,False,27,male,India,NaN,NaN,India,NaN
348,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,IDK,NaN,False,48,m,United States of America,Louisiana,White,United States of America,Louisiana
349,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,sdsdsdsdsdsd,sdsdsdsdsdsd,False,50,M,India,NaN,NaN,India,NaN
350,False,More than 1000,True,True,No,No,No,No,Yes,Difficult,...,raise awareness,no,False,30,female,India,NaN,NaN,India,NaN
351,False,More than 1000,True,True,Yes,Yes,No,Yes,Yes,Somewhat difficult,...,reduce stigma. offer options for part time wor...,I've had to drive all of the progress in menta...,True,24,Female (cis),United States of America,Oregon,White,United States of America,Oregon

In [26]:
new_col = [f'Q{i}' for i in range(1,83)]
k = response_df.columns.to_list()
columns_dict = pd.Series(k,index = new_col)

In [27]:
keys = ['Q{}'.format(i) for i in range(1,83)]
columns_dic = pd.Series(response_df.columns,index=keys)
columns_dic

Q1                              *Are you self-employed?*
Q2     How many employees does your company or organi...
Q3     Is your employer primarily a tech company/orga...
Q4     Is your primary role within your company relat...
Q5     Does your employer provide mental health benef...
                             ...
Q78                       What country do you *live* in?
Q79         What US state or territory do you *live* in?
Q80                                   What is your race?
Q81                       What country do you *work* in?
Q82         What US state or territory do you *work* in?
Length: 82, dtype: object

### Exercise 1

In [28]:
file_list =os.listdir("./data/ch9/SBID_Data")

In [29]:
file_list =os.listdir("./data/ch9/SBID_Data")
title = "./data/ch9/SBID_Data/"+file_list[0]
test = pd.read_excel(title)
test.head(10)

       Time
0  00:00:30
1  00:01:18
2  00:01:19
3  00:01:28
4  00:01:34
5  00:01:54
6  00:02:11
7  00:02:20
8  00:02:24
9  00:04:11

### Datetime.date => Datetime64로 바꾸기
### pd.date_range() => 시간 range 만들기
### pd. => 시간 단위로 row 개수 세기
https://stackoverflow.com/questions/47362530/python-pandas-group-datetimes-by-hour-and-count-row

In [30]:
file_list =os.listdir("./data/ch9/SBID_Data")

In [ ]:
# 1. 파일 불러오기
# 2. 시간단위로 row 개수 세는 series 만들기
test_con =[]
for i in range(len(file_list)) :
    title = "./data/ch9/SBID_Data/"+file_list[i]
    test = pd.read_excel(title)
    test.Time = pd.to_datetime(test.Time.astype(str)) # datetime.time => datetime64로 만들기
    test_count = test.groupby([pd.Grouper(key='Time',freq='H')]).size()
    test_count.index=[k for k in range(1,25)]
    test_con.append(test_count)

In [35]:
len(test_con)

14

In [31]:
# 3. concat으로 multiindex 만들기
test_keys = range(20201012,20201026)
test_total = pd.concat(test_con, keys=test_keys)
test_total

20201012  1      60
          2      73
          3      63
          4      70
          5      72
               ...
20201025  20    616
          21     65
          22     59
          23     54
          24     75
Length: 336, dtype: int64

In [32]:
from ipywidgets import interact, widgets

# concat 한 파일을 불러오기
def test_interact(test_date) :
    plt.figure(figsize=(10,8))
    test_count=test_total.loc[test_date]
    plt.bar(test_count.index,test_count.values,color='orange')
    for i in range(24) :
        row = test_count[i+1]
        plt.annotate(row, (i+0.5, row+10))        
    plt.xlim(0.5,24.5)
    plt.ylim(0,max(test_count.values)+100)

interact(test_interact, test_date = widgets.IntSlider(min=20201012, max=20201025, step=1, value=20201012))

interactive(children=(IntSlider(value=20201012, description='test_date', max=20201025, min=20201012), Output()…